@font-face {
    font-family: 'ABCFavoritMonoTrial';
    src: url('../fonts/ABCFavoritMono-Medium-Trial.otf') format('otf'),
         url('../fonts/ABCFavoritMono-Medium-Trial.woff') format('woff'),
         url('../fonts/ABCFavoritMono-Medium-Trial.woff2') format('woff2');
}

@font-face {
  font-family: 'DM Sans';
  src: url('../fonts/DMSans-Medium.ttf') format('truetype'),
       url('../fonts/DMSans-Bold.ttf') format('truetype');
}

body, html {
  height: 100%;
}

body {
   background-color: #F5F5F5;
   background-image: url("../img/background.webp");
   height: 100%; 
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}


#logo {
  position: relative;
  top: 32px;
  left: 32px;
}

section {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

#illustration {
    margin-top: 10px;
}

h2 { 
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 100%;
    /* or 64px */
  letter-spacing: -2px;
  text-align: center;
  font-feature-settings: 'case' on;
  max-width: 867px;
  margin-top: 0px;
}

p {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 133%;
  /* or 133% */

  letter-spacing: -0.75px;
  font-feature-settings: 'case' on;
  text-align: center;
  max-width: 433px;
  max-height: 64px;
  margin-top: -10px; 
}

#email, #submit {
  font-family: 'ABCFavoritMonoTrial', sans-serif;
  font-weight: 500; 
  font-size: 16px;
  line-height: 150%;
}

#email {
  border-radius: 12px;
  border-color: transparent;
  width: 320px;
  height: 64px;
  color: grey;
  margin-right: 8px;
  text-transform: uppercase;
  font-feature-settings: 'case' on;
  direction: ltr;
  text-indent: 20px;
  box-shadow: 0px 1px 4px rgba(234, 234, 234, 0.64), 0px 8px 16px rgba(234, 234, 234, 0.64), 0px 24px 24px rgba(234, 234, 234, 0.64);
}

#submit {
  background-color: #000000;
  width: 168px;
  height: 64px;
  border-radius: 12px;
  color: white;
  border-color: transparent;
  box-shadow: 0px 1px 4px rgba(234, 234, 234, 0.64), 0px 8px 16px rgba(234, 234, 234, 0.64), 0px 24px 24px rgba(234, 234, 234, 0.64);
}

#submit:hover {
  background-color: #000000;
  opacity: 0.9;
}

input:focus {
    outline: none !important;
}

.contactForm {
  margin-top: 72px;
  display: flex; 
  flex-flow: row wrap;
  align-items: center;
}

#illustration {
  width: 100%; 
  max-width: 360px;
  height: auto;
} 

@media only screen and (max-width: 480px) {

  body {
    background-color: #F5F5F5;
    background-image: url("../img/background_mobile.webp");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .contactForm {
    flex-direction: column;
    align-items: stretch;
    width: 339px;
  }
  
  #email { 
    width: 335px;
    height: 64px;
    margin-right: 0px;
    padding: 0px;
  }
  #submit {
    width: 339px;
    height: 68px;
    margin-top: 8px;
    padding: 0px;
  }
  
  
  h2 {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 125%; 

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -1.5px;
    font-feature-settings: 'case' on;
    margin-bottom: 16px;
  }

  p {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    text-align: center;
    letter-spacing: -0.75px;
    font-feature-settings: 'case' on;
    margin-bottom: 72px;
  }

  

}

/* 320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV */